build
.idea
.vscode
CMakeLists.txt.*
CMakeLists.txt.user
cmakeLists.txt.*
cmake-*
cmake_install.cmake
Makefile
*.cmake
*.txt
*.md
*.rst
*.pyc
*.pyo
*.swp
*.bak
*.tmp
*.tmp.*
*.log
*.log.*
*.dmp
*.dmp.*
*.dylib
*.so
*.o
*.a
*.a.*
*.so.*
*.dylib.*
*.dll
*.dll.*
*.exe
*.exe.*
*.lib
*.lib.*
*.pdb
*.pdb.*
.cache